<div class="Home#about">
  <p class="title">鬼多郎とは</p>
  <p class="text">テキストテキストテキストテキストテキストテキストテキスト</p>
  <div class="totop">
    <a href="#"><i class="fa fa-angle-double-up fa-2x"></i></a>
  </div>

</div>
