<div class="Home#flow">
  <p class="title">ご注文からお届けまで</p>
  <p class="text">テキストテキストテキストテキストテキストテキスト</p>
  <div class="totop">
    <a href="#"><i class="fa fa-angle-double-up fa-2x"></i></a>
  </div>

</div>
