<div class="Home#top">
  <div class="">
    <p>4/21の状態へ</p>
    <p class="title">屋台営業の臨時休業について</p>
    <p class="text">新型コロナウイルス感染拡大防止および緊急事態宣言を受け、<br>４月８日より当面の期間臨時休業とさせていただいております。</p>
    <p class="title">配達営業について</p>
    <p class="text">屋台営業の臨時休業期間中、<br>一部エリアで配達営業を行っております。<br>屋台の味をご自宅でいかがでしょうか。</p>
    <p class="title">配達可能エリア</p>
    <p class="text">警固1丁目～3丁目<br>薬院1丁目～4丁目<br>桜坂1丁目～3丁目<br>平尾1丁目～3丁目<br>平和3丁目・5丁目</p>
    <p class="text">お料理の仕上がりからお届けまで、<br>30分程度以内を目安にしております。<br>エリア外のお客様もご相談ください。</p>
    <p class="title">配達可能時間</p>
    <p class="text">18時～21時</p>
  </div>
  <div class="totop">
    <a href="#"><i class="fa fa-angle-double-up fa-2x"></i></a>
  </div>
</div>
