// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
  // border: 1px solid red;
  width: 90%;
  margin: 0 auto;
}

.container p{
  font-size: 14px;
}
